$primary:#0090E3;
$p-light:#F0F3F4;
$p-dark:#222222;
$secondary:#FF0000;
$s-light:#FF7E00;
$s-dark:#333333;
$color_nav:#F3F3F3;
//текст
$text-p:#003966;
$text-h:#FF7E00;

//фоновые
//$fon-rgb:0, 170, 238,;
//$alpha: .5;


// Declare the color as RGB; SASS will treat this as hex
$fon-rgb: rgb(240, 243, 244);
// Declare an alpha
$alpha: .5;
